co2_flow/co2b/flow mostrap.json
[{"id":"3b20fdc6.95a0b2","type":"tab","label":"Flow mostrap","disabled":false,"info":""},{"id":"1de583bf.a0157c","type":"mqtt in","z":"3b20fdc6.95a0b2","name":"","topic":"reqdengueco2-b","qos":"2","datatype":"auto","broker":"b9b2bc48.0516","x":230,"y":100,"wires":[["b1f60469.e69198"]]},{"id":"b1f60469.e69198","type":"exec","z":"3b20fdc6.95a0b2","command":"am broadcast --user 0 -a iot.dengue.image","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":590,"y":100,"wires":[[],[],[]]},{"id":"691e2194.78ea7","type":"inject","z":"3b20fdc6.95a0b2","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":60,"wires":[["b1f60469.e69198"]]},{"id":"f142e173.a1735","type":"watch","z":"3b20fdc6.95a0b2","name":"","files":"/storage/emulated/0/dengue/cap.jpg","recursive":"","x":220,"y":200,"wires":[["6010ce93.14c51"]]},{"id":"6010ce93.14c51","type":"file in","z":"3b20fdc6.95a0b2","name":"","filename":"/storage/emulated/0/dengue/cap.jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":550,"y":200,"wires":[["8aeb9c3b.0f1c8"]]},{"id":"8aeb9c3b.0f1c8","type":"base64","z":"3b20fdc6.95a0b2","name":"","action":"","property":"payload","x":840,"y":200,"wires":[["84af4346.4809e"]]},{"id":"84af4346.4809e","type":"mqtt out","z":"3b20fdc6.95a0b2","name":"","topic":"resdengueco2-b","qos":"","retain":"","broker":"b9b2bc48.0516","x":1070,"y":200,"wires":[]},{"id":"9b0d84b6.e05da8","type":"mqtt in","z":"3b20fdc6.95a0b2","name":"","topic":"isconnectco2-b","qos":"2","datatype":"auto","broker":"b9b2bc48.0516","x":890,"y":80,"wires":[["495619b.9945ee8"]]},{"id":"495619b.9945ee8","type":"mqtt out","z":"3b20fdc6.95a0b2","name":"","topic":"connectedco2-b","qos":"","retain":"","broker":"b9b2bc48.0516","x":1080,"y":80,"wires":[]},{"id":"d44eed34.84815","type":"file in","z":"3b20fdc6.95a0b2","name":"","filename":"/storage/emulated/0/dengue/ngueng.mp3","format":"","chunk":false,"sendError":false,"encoding":"none","x":1140,"y":540,"wires":[["c5c839e3.587f38"]]},{"id":"c5c839e3.587f38","type":"base64","z":"3b20fdc6.95a0b2","name":"","action":"","property":"payload","x":1400,"y":540,"wires":[["4de66c4a.b2cb64"]]},{"id":"4de66c4a.b2cb64","type":"mqtt out","z":"3b20fdc6.95a0b2","name":"","topic":"soundresdengueco2-b","qos":"","retain":"","broker":"b9b2bc48.0516","x":1600,"y":540,"wires":[]},{"id":"26eaceb1.ad7c62","type":"delay","z":"3b20fdc6.95a0b2","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":880,"y":540,"wires":[["d44eed34.84815"]]},{"id":"c1ba9fb8.113ce","type":"mqtt in","z":"3b20fdc6.95a0b2","name":"","topic":"soundreqdengueco2-b","qos":"2","datatype":"auto","broker":"b9b2bc48.0516","x":160,"y":500,"wires":[["de6d6a7a.2455f8"]]},{"id":"de6d6a7a.2455f8","type":"switch","z":"3b20fdc6.95a0b2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"starting..","vt":"str"},{"t":"eq","v":"stopping..","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":500,"wires":[["30e70e5a.f39122"],["20f5fba9.5982e4"]]},{"id":"30e70e5a.f39122","type":"exec","z":"3b20fdc6.95a0b2","command":"am broadcast --user 0 -a iot.dengue.soundstart","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":620,"y":480,"wires":[["184da4ff.3b7d2b"],[],[]]},{"id":"20f5fba9.5982e4","type":"exec","z":"3b20fdc6.95a0b2","command":"am broadcast --user 0 -a iot.dengue.soundstop","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":620,"y":540,"wires":[["26eaceb1.ad7c62","6fa1d5d1.98521c"],[],[]]},{"id":"b55ce3fc.a9dca","type":"mqtt out","z":"3b20fdc6.95a0b2","name":"","topic":"soundstatco2-b","qos":"","retain":"","broker":"b9b2bc48.0516","x":1280,"y":420,"wires":[]},{"id":"184da4ff.3b7d2b","type":"trigger","z":"3b20fdc6.95a0b2","name":"recording..","op1":" ","op2":"recording..","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","outputs":1,"x":930,"y":420,"wires":[["b55ce3fc.a9dca","201c7599.3d3f1a"]]},{"id":"6fa1d5d1.98521c","type":"trigger","z":"3b20fdc6.95a0b2","name":"stopped","op1":" ","op2":"stopped","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","outputs":1,"x":920,"y":460,"wires":[["b55ce3fc.a9dca","201c7599.3d3f1a"]]},{"id":"201c7599.3d3f1a","type":"function","z":"3b20fdc6.95a0b2","name":"time counter","func":"var delay = {};\nvar d = new Date();\nvar seconds = Math.round(d.getTime() / 1000);\n\nif (msg.payload == \"recording..\"){\n    flow.set(\"starttime\", seconds);\n}\nelse if (msg.payload == \"stopped\"){\n    delay.payload = (1+ seconds - flow.get(\"starttime\"))*1000;\n}\n\nreturn delay;","outputs":1,"noerr":0,"x":1110,"y":320,"wires":[["b8cfd5ca.15d578"]]},{"id":"b8cfd5ca.15d578","type":"mqtt out","z":"3b20fdc6.95a0b2","name":"","topic":"sounddelayco2-b","qos":"","retain":"","broker":"b9b2bc48.0516","x":1320,"y":320,"wires":[]},{"id":"aa5671c5.9586d","type":"exec","z":"3b20fdc6.95a0b2","command":"am broadcast --user 0 -a iot.dengue.reset","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":600,"y":620,"wires":[[],[],[]]},{"id":"b1cdd36.b081b3","type":"mqtt in","z":"3b20fdc6.95a0b2","name":"","topic":"resetco2-b","qos":"2","datatype":"auto","broker":"b9b2bc48.0516","x":280,"y":620,"wires":[["aa5671c5.9586d"]]},{"id":"e2da6d9.058299","type":"watch","z":"3b20fdc6.95a0b2","name":"","files":"/storage/emulated/0/dengue/log.json","recursive":"","x":240,"y":740,"wires":[["26ae57ae.d25218"]]},{"id":"26ae57ae.d25218","type":"file in","z":"3b20fdc6.95a0b2","name":"","filename":"/storage/emulated/0/dengue/log.json","format":"","chunk":false,"sendError":false,"encoding":"none","x":580,"y":740,"wires":[["dd704650.e00c28"]]},{"id":"dd704650.e00c28","type":"base64","z":"3b20fdc6.95a0b2","name":"","action":"","property":"payload","x":860,"y":740,"wires":[["8cf22555.ac0588"]]},{"id":"8cf22555.ac0588","type":"mqtt out","z":"3b20fdc6.95a0b2","name":"","topic":"logdengueco2-b","qos":"","retain":"","broker":"b9b2bc48.0516","x":1090,"y":740,"wires":[]},{"id":"7fe7841e.02377c","type":"mqtt in","z":"3b20fdc6.95a0b2","name":"","topic":"logreqco2-b","qos":"2","datatype":"auto","broker":"b9b2bc48.0516","x":270,"y":680,"wires":[["acd85685.a0a158"]]},{"id":"acd85685.a0a158","type":"exec","z":"3b20fdc6.95a0b2","command":"am broadcast --user 0 -a iot.dengue.log","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":560,"y":680,"wires":[[],[],[]]},{"id":"a2c2a171.5fc2d","type":"watch","z":"3b20fdc6.95a0b2","name":"","files":"/storage/emulated/0/dengue/alarm","recursive":"","x":220,"y":940,"wires":[["8fd63dbf.69885","87e0afe5.2ef38"]]},{"id":"dc5f259.2b2aad8","type":"mqtt out","z":"3b20fdc6.95a0b2","name":"","topic":"alarmco2-b","qos":"","retain":"","broker":"b9b2bc48.0516","x":790,"y":940,"wires":[]},{"id":"8fd63dbf.69885","type":"debug","z":"3b20fdc6.95a0b2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":500,"y":880,"wires":[]},{"id":"87e0afe5.2ef38","type":"function","z":"3b20fdc6.95a0b2","name":"get time","func":"var d = new Date();\nmsg.payload = d.toLocaleString();\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":940,"wires":[["dc5f259.2b2aad8"]]},{"id":"b9b2bc48.0516","type":"mqtt-broker","z":"","name":"novabwe","broker":"35.247.184.8","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]