co2_flow/co2b/flow raspi.json
[{"id":"caeeb7e5.ac0988","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c20ae5c.6f31e18","type":"serial request","z":"caeeb7e5.ac0988","name":"","serial":"c2ef5fe8.53546","x":420,"y":160,"wires":[["6886d710.400708"]]},{"id":"6886d710.400708","type":"function","z":"caeeb7e5.ac0988","name":"calculate","func":"//var b=Buffer.from(msg.payload);\n//var s=b.toString();\nvar hi = msg.payload[2];\nvar lo = msg.payload[3];\n\nmsg.payload= hi*256+lo;\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":300,"wires":[["c17e6963.7836b8"]]},{"id":"fd9b3932.7d4918","type":"inject","z":"caeeb7e5.ac0988","name":"","topic":"","payload":"[255,1,134,0,0,0,0,0,121]","payloadType":"bin","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":160,"wires":[[]]},{"id":"c17e6963.7836b8","type":"smooth","z":"caeeb7e5.ac0988","name":"","property":"payload","action":"mean","count":"10","round":"0","mult":"single","reduce":false,"x":580,"y":300,"wires":[["bfeaa5f7.db28c8","26ee6755.974888"]]},{"id":"bfeaa5f7.db28c8","type":"mqtt out","z":"caeeb7e5.ac0988","name":"","topic":"resultco2-b","qos":"","retain":"","broker":"e372480e.a098e8","x":770,"y":300,"wires":[]},{"id":"6b93c82a.a2e3e8","type":"mqtt in","z":"caeeb7e5.ac0988","name":"","topic":"isconnectco2-b","qos":"2","datatype":"auto","broker":"e372480e.a098e8","x":230,"y":440,"wires":[["e722f266.d0c84"]]},{"id":"e722f266.d0c84","type":"mqtt out","z":"caeeb7e5.ac0988","name":"","topic":"connectedco2-b","qos":"","retain":"","broker":"e372480e.a098e8","x":410,"y":440,"wires":[]},{"id":"26ee6755.974888","type":"debug","z":"caeeb7e5.ac0988","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":160,"wires":[]},{"id":"c2ef5fe8.53546","type":"serial-port","z":"","serialport":"/dev/ttyS0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"bin","out":"char","addchar":"","responsetimeout":"500"},{"id":"e372480e.a098e8","type":"mqtt-broker","z":"","name":"wagglesys dengue","broker":"35.247.184.8","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]