co2_flow/co2c/flow raspi.json
[{"id":"adba0c3e.fe027","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ed26d111.dbad7","type":"serial request","z":"adba0c3e.fe027","name":"","serial":"1c5dc899.4cf0f7","x":300,"y":180,"wires":[["9c141179.4f77d"]]},{"id":"9c141179.4f77d","type":"function","z":"adba0c3e.fe027","name":"calculate","func":"//var b=Buffer.from(msg.payload);\n//var s=b.toString();\nvar hi = msg.payload[2];\nvar lo = msg.payload[3];\n\nmsg.payload= hi*256+lo;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":320,"wires":[["b83c5254.a5196"]]},{"id":"e06a0ff.5aa9af","type":"inject","z":"adba0c3e.fe027","name":"","topic":"","payload":"[255,1,134,0,0,0,0,0,121]","payloadType":"bin","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":180,"wires":[[]]},{"id":"b83c5254.a5196","type":"smooth","z":"adba0c3e.fe027","name":"","property":"payload","action":"mean","count":"10","round":"0","mult":"single","reduce":false,"x":460,"y":320,"wires":[["a70afa2b.bc01b8","cd471594.1c6808"]]},{"id":"a70afa2b.bc01b8","type":"mqtt out","z":"adba0c3e.fe027","name":"","topic":"resultco2-c","qos":"","retain":"","broker":"ac365c04.4a387","x":650,"y":320,"wires":[]},{"id":"41387523.fde08c","type":"mqtt in","z":"adba0c3e.fe027","name":"","topic":"isconnectco2-c","qos":"2","datatype":"auto","broker":"ac365c04.4a387","x":100,"y":460,"wires":[["b61cc09.d58494"]]},{"id":"b61cc09.d58494","type":"mqtt out","z":"adba0c3e.fe027","name":"","topic":"connectedco2-c","qos":"","retain":"","broker":"ac365c04.4a387","x":290,"y":460,"wires":[]},{"id":"cd471594.1c6808","type":"debug","z":"adba0c3e.fe027","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":180,"wires":[]},{"id":"1c5dc899.4cf0f7","type":"serial-port","z":"","serialport":"/dev/ttyS0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"bin","out":"char","addchar":"","responsetimeout":"500"},{"id":"ac365c04.4a387","type":"mqtt-broker","z":"","name":"wagglesys dengue","broker":"35.247.184.8","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]