co2b/flow co2.json
[{"id":"e2dbf9c.d743b08","type":"tab","label":"flow co2","disabled":false,"info":""},{"id":"949d75da.4a31e8","type":"watch","z":"e2dbf9c.d743b08","name":"","files":"/storage/emulated/0/dengue/logCO2B.json","recursive":"","x":270,"y":120,"wires":[["47a30504.d1eeac"]]},{"id":"47a30504.d1eeac","type":"file in","z":"e2dbf9c.d743b08","name":"","filename":"/storage/emulated/0/dengue/logCO2B.json","format":"","chunk":false,"sendError":false,"encoding":"none","x":740,"y":120,"wires":[["479238a7.df1ab8"]]},{"id":"479238a7.df1ab8","type":"base64","z":"e2dbf9c.d743b08","name":"","action":"","property":"payload","x":1040,"y":120,"wires":[["50c87a9a.e6f374"]]},{"id":"50c87a9a.e6f374","type":"mqtt out","z":"e2dbf9c.d743b08","name":"","topic":"logco2-b","qos":"","retain":"","broker":"c89abd3f.375e9","x":1240,"y":120,"wires":[]},{"id":"c89abd3f.375e9","type":"mqtt-broker","z":"","name":"novabwe","broker":"35.247.184.8","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]