co2c/flow mostrap.json
[{"id":"d5f75faf.a8a6e","type":"tab","label":"Flow mostrap","disabled":false,"info":""},{"id":"d96d6a2f.a50d08","type":"mqtt in","z":"d5f75faf.a8a6e","name":"","topic":"reqdengueco2-c","qos":"2","datatype":"auto","broker":"994b78db.64a148","x":230,"y":100,"wires":[["dc8326bf.d9b208"]]},{"id":"dc8326bf.d9b208","type":"exec","z":"d5f75faf.a8a6e","command":"am broadcast --user 0 -a iot.dengue.image","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":590,"y":100,"wires":[[],[],[]]},{"id":"58763fa.45e27c","type":"inject","z":"d5f75faf.a8a6e","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":60,"wires":[["dc8326bf.d9b208"]]},{"id":"1f8d16f4.020289","type":"watch","z":"d5f75faf.a8a6e","name":"","files":"/storage/emulated/0/dengue/cap.jpg","recursive":"","x":220,"y":200,"wires":[["38d4803f.0207e"]]},{"id":"38d4803f.0207e","type":"file in","z":"d5f75faf.a8a6e","name":"","filename":"/storage/emulated/0/dengue/cap.jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":550,"y":200,"wires":[["bf537d5.edcfa8"]]},{"id":"bf537d5.edcfa8","type":"base64","z":"d5f75faf.a8a6e","name":"","action":"","property":"payload","x":840,"y":200,"wires":[["e7238de2.cde1e"]]},{"id":"e7238de2.cde1e","type":"mqtt out","z":"d5f75faf.a8a6e","name":"","topic":"resdengueco2-c","qos":"","retain":"","broker":"994b78db.64a148","x":1070,"y":200,"wires":[]},{"id":"6ecb16dc.abad28","type":"mqtt in","z":"d5f75faf.a8a6e","name":"","topic":"isconnectco2-c","qos":"2","datatype":"auto","broker":"994b78db.64a148","x":890,"y":80,"wires":[["46ca728a.929bac"]]},{"id":"46ca728a.929bac","type":"mqtt out","z":"d5f75faf.a8a6e","name":"","topic":"connectedco2-c","qos":"","retain":"","broker":"994b78db.64a148","x":1080,"y":80,"wires":[]},{"id":"d51c0c07.642f1","type":"file in","z":"d5f75faf.a8a6e","name":"","filename":"/storage/emulated/0/dengue/ngueng.mp3","format":"","chunk":false,"sendError":false,"encoding":"none","x":1140,"y":540,"wires":[["3e988b26.670694"]]},{"id":"3e988b26.670694","type":"base64","z":"d5f75faf.a8a6e","name":"","action":"","property":"payload","x":1400,"y":540,"wires":[["687d2e05.80154"]]},{"id":"687d2e05.80154","type":"mqtt out","z":"d5f75faf.a8a6e","name":"","topic":"soundresdengueco2-c","qos":"","retain":"","broker":"994b78db.64a148","x":1600,"y":540,"wires":[]},{"id":"4196bc29.426814","type":"delay","z":"d5f75faf.a8a6e","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":880,"y":540,"wires":[["d51c0c07.642f1"]]},{"id":"40632727.0ba328","type":"mqtt in","z":"d5f75faf.a8a6e","name":"","topic":"soundreqdengueco2-c","qos":"2","datatype":"auto","broker":"994b78db.64a148","x":160,"y":500,"wires":[["9b2e25cd.8955f8"]]},{"id":"9b2e25cd.8955f8","type":"switch","z":"d5f75faf.a8a6e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"starting..","vt":"str"},{"t":"eq","v":"stopping..","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":500,"wires":[["468ed3d3.55f9dc"],["35ea0cec.dc7144"]]},{"id":"468ed3d3.55f9dc","type":"exec","z":"d5f75faf.a8a6e","command":"am broadcast --user 0 -a iot.dengue.soundstart","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":620,"y":480,"wires":[["7ab25225.01056c"],[],[]]},{"id":"35ea0cec.dc7144","type":"exec","z":"d5f75faf.a8a6e","command":"am broadcast --user 0 -a iot.dengue.soundstop","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":620,"y":540,"wires":[["4196bc29.426814","aec2d131.41c1e"],[],[]]},{"id":"4497f493.40c68c","type":"mqtt out","z":"d5f75faf.a8a6e","name":"","topic":"soundstatco2-c","qos":"","retain":"","broker":"994b78db.64a148","x":1280,"y":420,"wires":[]},{"id":"7ab25225.01056c","type":"trigger","z":"d5f75faf.a8a6e","name":"recording..","op1":" ","op2":"recording..","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","outputs":1,"x":930,"y":420,"wires":[["4497f493.40c68c","5237bb56.d58054"]]},{"id":"aec2d131.41c1e","type":"trigger","z":"d5f75faf.a8a6e","name":"stopped","op1":" ","op2":"stopped","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","outputs":1,"x":920,"y":460,"wires":[["4497f493.40c68c","5237bb56.d58054"]]},{"id":"5237bb56.d58054","type":"function","z":"d5f75faf.a8a6e","name":"time counter","func":"var delay = {};\nvar d = new Date();\nvar seconds = Math.round(d.getTime() / 1000);\n\nif (msg.payload == \"recording..\"){\n    flow.set(\"starttime\", seconds);\n}\nelse if (msg.payload == \"stopped\"){\n    delay.payload = (1+ seconds - flow.get(\"starttime\"))*1000;\n}\n\nreturn delay;","outputs":1,"noerr":0,"x":1110,"y":320,"wires":[["a2b57207.4918b"]]},{"id":"a2b57207.4918b","type":"mqtt out","z":"d5f75faf.a8a6e","name":"","topic":"sounddelayco2-c","qos":"","retain":"","broker":"994b78db.64a148","x":1320,"y":320,"wires":[]},{"id":"a9241e56.04b9e","type":"exec","z":"d5f75faf.a8a6e","command":"am broadcast --user 0 -a iot.dengue.reset","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":600,"y":620,"wires":[[],[],[]]},{"id":"91e358ca.b869e8","type":"mqtt in","z":"d5f75faf.a8a6e","name":"","topic":"resetco2-c","qos":"2","datatype":"auto","broker":"994b78db.64a148","x":280,"y":620,"wires":[["a9241e56.04b9e"]]},{"id":"cef22830.9c6088","type":"watch","z":"d5f75faf.a8a6e","name":"","files":"/storage/emulated/0/dengue/log.json","recursive":"","x":240,"y":740,"wires":[["93286aa4.861798"]]},{"id":"93286aa4.861798","type":"file in","z":"d5f75faf.a8a6e","name":"","filename":"/storage/emulated/0/dengue/log.json","format":"","chunk":false,"sendError":false,"encoding":"none","x":580,"y":740,"wires":[["f76d5fe5.2453b"]]},{"id":"f76d5fe5.2453b","type":"base64","z":"d5f75faf.a8a6e","name":"","action":"","property":"payload","x":860,"y":740,"wires":[["7f021c16.a80d74"]]},{"id":"7f021c16.a80d74","type":"mqtt out","z":"d5f75faf.a8a6e","name":"","topic":"logdengueco2-c","qos":"","retain":"","broker":"994b78db.64a148","x":1090,"y":740,"wires":[]},{"id":"f9bb26d8.fc0e58","type":"mqtt in","z":"d5f75faf.a8a6e","name":"","topic":"logreqco2-c","qos":"2","datatype":"auto","broker":"994b78db.64a148","x":270,"y":680,"wires":[["9602c624.0be308"]]},{"id":"9602c624.0be308","type":"exec","z":"d5f75faf.a8a6e","command":"am broadcast --user 0 -a iot.dengue.log","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":590,"y":680,"wires":[[],[],[]]},{"id":"c0661fb3.d051f","type":"watch","z":"d5f75faf.a8a6e","name":"","files":"/storage/emulated/0/dengue/alarm","recursive":"","x":220,"y":940,"wires":[["2b4cebf8.02e614","9a2037de.886dd8"]]},{"id":"e0327a8f.071ae8","type":"mqtt out","z":"d5f75faf.a8a6e","name":"","topic":"alarmco2-c","qos":"","retain":"","broker":"994b78db.64a148","x":790,"y":940,"wires":[]},{"id":"2b4cebf8.02e614","type":"debug","z":"d5f75faf.a8a6e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":500,"y":880,"wires":[]},{"id":"9a2037de.886dd8","type":"function","z":"d5f75faf.a8a6e","name":"get time","func":"var d = new Date();\nmsg.payload = d.toLocaleString();\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":940,"wires":[["e0327a8f.071ae8"]]},{"id":"994b78db.64a148","type":"mqtt-broker","z":"","name":"novabwe","broker":"35.247.184.8","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]