co2c/flows co2.json
[{"id":"a6a47f59.2da2f","type":"tab","label":"flow co2","disabled":false,"info":""},{"id":"8247f072.b0f62","type":"watch","z":"a6a47f59.2da2f","name":"","files":"/storage/emulated/0/dengue/logCO2C.json","recursive":"","x":270,"y":120,"wires":[["21822c7d.aa02e4"]]},{"id":"21822c7d.aa02e4","type":"file in","z":"a6a47f59.2da2f","name":"","filename":"/storage/emulated/0/dengue/logCO2C.json","format":"","chunk":false,"sendError":false,"encoding":"none","x":740,"y":120,"wires":[["e1cf696a.18f798"]]},{"id":"e1cf696a.18f798","type":"base64","z":"a6a47f59.2da2f","name":"","action":"","property":"payload","x":1040,"y":120,"wires":[["ec9e508a.24764"]]},{"id":"ec9e508a.24764","type":"mqtt out","z":"a6a47f59.2da2f","name":"","topic":"logco2-c","qos":"","retain":"","broker":"1c794281.c31a7d","x":1240,"y":120,"wires":[]},{"id":"1c794281.c31a7d","type":"mqtt-broker","z":"","name":"novabwe","broker":"35.247.184.8","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]